// Element Plus Theme
$white: #fff;
$black: #2d2d2d;
$primary: #ff9800;
$success: #67c23a;
$warning: #f4ea3f;
$danger: #f56c6c;
$error: #f56c6c;
$info: #909399;

// Additional Colors
$light-accent: #fef1e2;
$secondary: #e4a79d;

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "white": $white,
    "black": $black,
    "primary": (
      "base": $primary,
    ),
    "success": (
      "base": $success,
    ),
    "warning": (
      "base": $warning,
    ),
    "danger": (
      "base": $danger,
    ),
    "error": (
      "base": $error,
    ),
    "info": (
      "base": $info,
    ),
  )
);
